.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #8ab6f9, #e3efff);
}

.login-card {
  background: white;
  padding: 3rem 4rem;
  border-radius: 16px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-card h3 {
  font-size: 2.1rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.login-card h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  max-width: 500px;
  margin: 1.5rem auto 0 auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
  gap: 8rem;
}

.login-options label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.login-options input[type="checkbox"] {
  margin: 0;
  transform: scale(1.1);
}

.login-options a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.25rem 0;
}

.login-options a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #1c1f3f;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  margin: 2rem auto 0 auto;
  display: block;
  height: 3rem;
}

.signup-link {
  margin-top: 1.5rem;
  font-size: 0.95rem;
}

.signup-link a {
  color: #1c1f3f;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
