.navbar {
    width: 100%;
    height: 60px;
    background-color: transparent;
    /* background-color: rgba(135, 176, 248, 0.71); */
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center; /*vertical align*/
    color: white;
    font-size: 23px;
    z-index: 10;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.rightSide{
    display: flex;
    align-items: center;
    padding-right: 60px; 
    gap: 35px;
    font-weight: 500;
}


.nav-link, 
.logo-link {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
  transition: color 0.2s ease;
}

/* Hover underline effect */
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #e0e0e0;
}

/* Active route styling */
.nav-link.active {
  color: #1E3A8A;
  font-weight: 600;
}

.nav-link.active::after {
  width: 100%;
  background-color: #1E3A8A;
}

.leftSide{
    display: flex;
    align-items: center;
    padding-left: 60px;
    font-weight: 600;
    font-size: 30px;
}


.hamburger {
    display: none;
    font-size: 40px;
    cursor: pointer;
    align-items: center;
    padding-right: 20px;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .rightSide {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: rgb(255, 255, 255, 0.7);
      flex-direction: column;
      width: 100%;
      display: none;
      padding: 1rem 0;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      color: black;
    }
  
    .rightSide.open {
      display: flex;
    }

    .rightSide.open a:hover{
        color: #83ADF8;
    }
  
    .hamburger {
      display: block;
    }
  }

.profile-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.profile-icon {
    font-size: 40px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
    width: 140px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropdown-item {
    display: block;
    padding: 10px 16px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #273040;
    color: white;
}